
/* Commande style code */

.table tbody td, .table tbody th{
    vertical-align:middle;
}

.table tbody td .title{
    font-size: 17px;
}

.img-thumbnail{
    border: none;
    max-width: 100px;
    max-height: 110px;
}

.products-table{
    max-height: 800px;
    overflow:scroll;
}
.products-table::-webkit-scrollbar, .products-table::-webkit-scrollbar-track, .products-table::-webkit-scrollbar-thumb {
    display: none;
}

