 body 
 {
 	background-color: black;
 	font-family: 'Open Sans', sans-serif;
 	background-image: url("../assets/images/img1.jpg");
 	background-repeat: no-repeat;

 }
 div
 {
position: absolute;
 }

 .welcome
 { z-index: 1;
   height: 500px;
   width: 400px;
   background-color: #A7C9B5;
   color: black;
   top: 78px;
   left: 615px;
 }
 .sign_in
 { 
   z-index: 2;
   height: 450px;
   width: 350px;
   background-color :white;
   color: black;
   top: 100px;
   left: 300px;
 }
 .title1
 {  margin:20px;
 	text-align: center;
 	font-weight: bolder;
 	font-size: 30px;
 	font-family: Arial-BoldMT;


 }
 .p1
 {
 	text-align: center;
 	font-size: 12px;
 	font-style: italic;
 	margin: 10px;
 	font-family: Arial-BoldMT;



 }
 input

{   background-color: #EFEFEF;
 	
 }
.inp
{
height: 30px;
width: 270px; 
margin: 10px;
margin-left:40px;
border-left-width: 1px;
border-right-width: 1px;
border-top: none;
border-bottom: none; 

}
.inputwithicon input[type=email]
{
	padding-left: 25px;

}
.inputwithicon
{
	position: relative;
}

.inputwithicon i{
	color: #9E9E9E;
	position: absolute;
	left: 44px;
	top: 17px;
}
.inputwithicon2 input[type=password]
{
	padding-left: 25px;

}
.inputwithicon2
{
	position: relative;
}

.inputwithicon2 i{
	color: #9E9E9E;
	position: absolute;
	left: 44px;
	top: 17px;
}
h6
{
font-weight: normal;
text-align: center;
text-decoration: underline;
font-size: 12px;
font-style: italic;
margin: 20px;
font-family: Arial-BoldMT;

}


button
{   height: 30px;
	width: 155px;
	font-weight: bold;
	border:none;
	border-radius: 20px;
	text-align: center;
	text-decoration:none;
	font-size: 14px;
	margin: 10px;
}
.btn1
{
		background-color: black;
		color: white;
		margin-left: 100px;

}
.btn2
{
	margin-top: 40px;
	margin-left:140px;
}
ul{
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 5px;
	margin-left: -20px;

}
li
{
height: 40px;
width: 40px;
margin: 4px;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;
background: #FFFFFF;
box-shadow:  5px 5px 7px #cfcfcf,
             -5px -5px 7px #ffffff;

}
li:hover
{
box-shadow: inset 5px 5px 7px #cfcfcf,
            inset -5px -5px 7px #ffffff;
}
li:nth-child(1) i{
	color: #2C75FF

}
li:nth-child(2) i{
	color: #DB1702

}
h1
{
	margin:20px;
 	text-align: center;
 	margin-left: 30px;
    margin-top: 100px; 
    font-family: Arial-BoldMT;

}
.p2
{
margin:10px;
text-align: center;
font-size: 24px;
width: 400px;
font-family: Arial-BoldMT;
font-weight: bolder;
}