<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

 <welcome-file-list>  
  <welcome-file>Home</welcome-file>  
 </welcome-file-list>  
  
  
<jsp-config>
	<jsp-property-group>
		<url-pattern>*.jsp</url-pattern>
		<include-prelude>/WEB-INF/tagLibs.jsp</include-prelude>
	</jsp-property-group>
</jsp-config>

<session-config>
	<session-timeout> 30 </session-timeout>
</session-config>


<listener>
	<listener-class>config.ServletListener</listener-class>
</listener>

<servlet>
	<servlet-name>MyAccountServlet</servlet-name>
	<servlet-class>controllers.MyAccountServlet</servlet-class>
	
	<init-param>
		<param-name>path</param-name>
		<param-value>/home/mrc/images-jee/images/logos/</param-value>
	</init-param>
		
		
	<multipart-config>
		<location>/home/mrc/images-jee/</location>
		<max-file-size>1000000</max-file-size>
		<max-request-size>52428800</max-request-size>
		<file-size-threshold>1048576</file-size-threshold>
	</multipart-config>

</servlet>		
		
		
		
<servlet>
	<servlet-name>DownloadServlet</servlet-name>
	<servlet-class>controllers.DownloadServlet</servlet-class>
	<init-param>
		<param-name>path</param-name>
		<param-value>/home/mrc/images-jee/</param-value>
	</init-param>
</servlet>

<servlet-mapping>
	<servlet-name>DownloadServlet</servlet-name>
	<url-pattern>/attachements/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>MyAccountServlet</servlet-name>
	<url-pattern>/MyAccount</url-pattern>
</servlet-mapping>


  
</web-app>